
@{
    ViewData["Title"] = "Index";
}


<h1>Quản lý sản phẩm</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Creat at</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product 1</td>
            <td>200$</td>
            <td>2/21/2024</td>
            <td>
                <img src="/images/FB_IMG_1639147660328.jpg" style="width: 100px; height: 100px">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-green">View</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Product 2</td>
            <td>500$</td>
            <td>2/21/2024</td>
            <td>
                <img src="/images/The-Sporty-Gear8.jpg" alt="Product 2" style="width: 100px; height: 100px">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-green">View</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Product 3</td>
            <td>400$</td>
            <td>2/21/2024</td>
            <td>
                <img src="/images/Tui-trong-du-lich-GFT102-xanh-la-1.jpeg" alt="Product 3" style="width: 100px; height: 100px">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-green">View</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Product 4</td>
            <td>300$</td>
            <td>2/21/2024</td>
            <td>
                <img src="/images/DSC08808.jpg" alt="Product 4" style="width: 100px; height: 100px">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-green">View</button>
            </td>
        </tr>
    </tbody>
</table>

