html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #ccc;
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

caption {
    caption-side: top;
    font-weight: bold;
    padding: 10px;
}

.btn-green {
    background-color: green;
    color: white;
}




 